.xmlbio { color: #4A4A4A; }
.xmlbiobook { color: #4A4A4A; }
.xmlbook { color: #666666; }
.xmlhead1 { color: #294A08; font-weight:bold; }
.xmlhead2 { color: #294A08; font-weight:bold; }
.xmlhead3 { color: #578D5E; font-weight:bold; }
.xmlhead4 { color: #DE4810; font-weight:bold; }
.xmlintro { font-weight:bold; }
.xmlmagazine { color: #666666; }
.xmlmember { color: #4A0052; font-weight:bold; }
.xmlmovie { color: #666666; }
.xmlmusic { color: #666666; }
.xmlnewspaper { color: #666666; }
.xmlsoftware { color: #666666; }
.xmltheatre { color: #666666; }
.xmltoy { color: #666666; }
.xmlvideo { color: #666666; }